{% extends 'main.html' %}
{% load mathfilters %}
{% load jsonify %}

{% block titulo_apartado %}

<style>

.main-form{
    margin-left:10px;
}

.populate-div{
    margin-left:10px;
    text-align: left;
}

.alert-warning{
    background-color: #f7eaaa;
}

</style>
  <div class="page-header">
      <h1>Trabajo de fin de grado:
          <small>
              automatización de respuestas en sitios web de question-answering
          </small>
      </h1>
  </div> {% endblock %}

{% block contenido %}
    <div class="populate-div">
        <a href ="{% url populate %}" class='btn btn-warning'>
                                        Poblar base de datos Django
        </a> (Necesario para la visualización del formulario)
        <br/>
        <br/>
    </div>
    <div class="main-form">
        <form id="formulario" method ="post" enctype="multipart/form-data" action="">{% csrf_token %}
                <div class="alert alert-info">
                    <h4 class="alert-heading">Leyenda</h4>
                    <ul>
                        <li>Página: entero que indica la página de retorno de la búsqueda</li>
                        <li>Tamaño página: entero con el número de hilos a recabar por página</li>
                        <li>Desde: fecha de inicio de la búsqueda</li>
                        <li>Hasta: fecha de fin de la búsqueda</li>
                        <li>Texto libre: texto a introducir como parámetro de búsqueda</li>
                        <li>Número de respuestas: entero con el número de respuestas que debe contener cada hilo</li>
                        <li>Cuerpo de la pregunta: texto con palabras a contener en el cuerpo</li>
                        <li>Etiquetas: etiquetas contenidas en los hilos (separar mediante ';')
                            <br/>
                            Únicamente válido para caracteres no numéricos</li>
                        <li>Búsqueda por título: texto con palabras a contener en título</li>
                    </ul>

                </div>

                <table>
                    {{formulario}}
                </table>
            <br/>
            <p><input type="submit" value="Buscar hilos!"></p>
            <div class="alert alert-warning">
                    La velocidad de búsqueda dependerá del tipo de hilo que ha indicado buscar, de su conexión a internet
                    y del estado de los servidores de StackOverFlow
                </div>
        </form>
    </div>


    <br/>
    <br/>
    {% if result_list %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Link (Url)</th>
                <th>Título</th>
                <th>Número de respuestas</th>
                <th>Etiquetas</th>
                <th>Cuerpo</th>
                <th>Código</th>
                <th>Selección de hilo</th>
              </tr>
            </thead>
            <tbody>

                  {% for row in result_list%}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{row.0.link}}" target="_blank">{{row.0.link}}</a></td>
                        <td>{{row.1.question_title}}</td>
                        <td>{{row.0.answer_count}}</td>
                        <td>{{row.0.tags|jsonify}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLong{{ forloop.counter }}">
                                  Ver
                            </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalLong{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="modalLongTitle">Cuerpo de la pregunta:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        {{ row.1.question_body }}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </td>
                          {% if row.1.question_code %}
                          <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCodeLong{{ forloop.counter }}">
                                  Ver
                            </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalCodeLong{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="modalLongTitle">Código de la pregunta:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <pre>{{ row.1.question_code|jsonify }}</pre>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </td>
                          {% endif %}
                      {% if not row.1.question_code %}
                          <td>
                          No hay código
                          </td>
                      {% endif %}
                        <td>
                            <a href ="{% url selected_thread row.0.question_id  %}" class='btn btn-primary'>
                                    Seleccionar
                            </a>
                        </td>
                      </tr>



                  {% endfor %}

            </tbody>
          </table>
        </div>
    {% endif %}

{% endblock %}