<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

        <title>Trabajo de fin de grado: automatización de respuestas en sitios web de question-answering</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


</head>
<body>
<br/>
<div style="width: 960px; margin-left: auto; margin-right: auto">
    <img src="https://www.informatica.us.es/docs/imagen-etsii/logo-ETSII-US-Horizontal-Color.png" alt="Smiley face" height="150" width="100%"/>
</div>
<br/>
<div style="background-color:lightblue">
    <br/>
</div>

    <div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Inicio</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/last-results/">Últimos resultados</a></li>
            </ul>
          </div>
        </nav>

        <h3>{% block titulo_apartado %}{% endblock %}</h3>

        {% block contenido %}
        {% endblock %}

    </div>


</body>
 <footer>
  <p>Author: Rafael García Domínguez.</p>
  <p>Contact information: <a href="mailto:rafgardom2@alum.us.es"> rafgardom2@alum.us.es</a> /
      <a href="mailto:rafa94.almensi@gmail.com"> rafa94.almensi@gmail.com</a>
  </p>
</footer>
</html>

 <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2030",
      // You can put more options here.

    });
  });
  </script>
